{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Password Reset
{% endblock %}

{% block content %}
    {% load crispy_forms_tags %}
    <br><br><br><br><br><br>
        <div id="best-deal">
            <div class="container">
                <h2 class=" font-weight-bold" style="text-align: center;font-family: 'Charm', cursive;
                            color: green; text-transform: capitalize;font-size: 40px;">Reset Password</h2>
                <hr>
                <p style="text-align: center;">Forgotten your password? Enter your email address below, we'll email instructions
                    for setting a new one.</p>
                <form method="POST" style="padding-bottom: 25px; margin-left: 20%;">
                    {% csrf_token %}
                    {{ password_reset_form|crispy }}
                    <div style="padding-top: 20px;">
                        <button class="btn btn-danger btn-outline-primary" style="width:200px;
                                    padding:10px; color: white; margin-left: 5%; margin-bottom: 5%;" type="submit">Send email</button>
                    </div>
                </form>

            </div>
        </div>


{% endblock%}