{% extends 'frontend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Password Reset
{% endblock %} 

{% block content %}
    {% load crispy_forms_tags %}


    <div id="best-deal">
        <div class="container ">
            <br> <br><br><br><br><br><br><br>
            <h2 class=" font-weight-bold" style="font-family: 'Charm', cursive;
                    color: green; text-transform: capitalize;font-size: 40px; text-align: center;">Password Reset Confirm</h2>
            <hr><br>
            <p>Please enter your new password.</p>
            <form method="POST" style="padding-bottom: 25px;" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-danger btn-outline-primary text-white" type="submit">Reset Password</button>
            </form>

        </div>
    </div>
{% endblock %}