<aside class="col-right sidebar col-sm-3 wow bounceInUp animated animated" style="visibility: visible;">
    <div class="block block-company">
        <div class="block-title">Company</div>
        <div class="block-content">
            <ol id="recently-viewed-items">
                <li class="item odd"><a href="{% url 'frontend:about' %}">About Us</a></li>
                <li class="item even"><a href="{% url 'frontend:foreign' %}">Foreign Cars</a></li>
                <li class="item  odd"><a href="{% url 'frontend:nigerian' %}">Local Cars</a></li>
                <li class="item last"><a href="{% url 'frontend:contact' %}"><strong>Contact Us</strong></a></li>
            </ol>
        </div>
    </div>
</aside>